/* ----- Navigation ----- */

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

/* From Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.btn-black {
    background: black;
    color: white;
}

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fff !important;
}

.border-black {
    border: 1px solid black !important;
}

.btt-link,
.update-link,
.remove-item {
    cursor: pointer;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btn-outline-black {
    background: white;
    color: black !important;
    border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: white !important;
}

/* ----- Promotion Banner ----- */

.bg-black {
    background: #000 !important;
}

/* ----- Hero Image ----- */

.banner {
    background: url('/media/hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 80vh;
}

.shop-now-button {
    background: white;
    color: black;
    min-width: 260px;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

/* ----- Footer ----- */

.newsletter-input {
    border: none;
}

.newsletter-input:focus {
    box-shadow: none;
}

.newsletter-subdiv input::placeholder {
    font-size: small; 
  }

.newsletter-subdiv input {
    width: 250px;
}

.newsletter-subdiv {
    border-bottom: 1px solid #000;
}

.newsletter-subdiv button:hover {
    color: #6c6565;
    transition: color 0.5s ease;
}

.newsletter-subdiv input:-webkit-autofill,
.newsletter-subdiv input:-webkit-autofill:hover, 
.newsletter-subdiv input:-webkit-autofill:focus, 
.newsletter-subdiv input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.footer-logo {
    text-transform: uppercase;
    color: #000;
}

.footer-logo:hover {
    text-decoration: none;
    color: #000;
}

.footer-link {
    text-transform: uppercase;
    color: #000;
    margin-right: 15px;
    font-size: small;
}

.footer-link:hover {
    text-decoration: none;
    color: #6c6565;
}

/* ----- Media Queries ----- */

/* 1600px wide and down */
@media (max-width: 1600px) {
    .footer-divs {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        text-align: center; 
    }
   
    footer .col-lg-4:nth-child(1) {
      order: 1;
      margin-bottom: 10px;
    }

    footer .col-lg-4:nth-child(2) {
      order: 2;
      margin-bottom: 12px;
    }

    footer .col-lg-4:nth-child(3) {
      order: 3;
      margin-bottom: 20px;
    }

    .footer-link {
        margin: 0 15px;
    }

    .col-lg-4 {
        max-width: 100%;
    }
  }

/* 600px wide and down */
@media (max-width: 600px) {
    footer .col-lg-4:nth-child(3) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .col-lg-4:nth-child(3) a {
        margin-bottom: 10px;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
      max-width: 80%;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 3;
    }

    .header-container {
        padding-top: 164px;
    }
}