<p class="cart-subtitle"><strong>Cart Total: ${{ total|floatformat:2 }}</strong></p>
{% if free_delivery_delta != 0 %}
<p class="cart-subtitle">Delivery: €{{ delivery|floatformat:2 }}</p>
{% else %}
<p class="cart-subtitle">Delivery: FREE</p>
{% endif %}
{% if discount > 0 %}
<p class="mb-4 cart-subtitle">Discount: -€{{ savings|floatformat:2 }} <a class="text-danger" href="{% url 'remove-discount' %}"><i class="fa-regular fa-trash-can"></i></a></p>
{% else %}
<form action="{% url 'add-discount' %}" class="form-container" method="POST">
    {% csrf_token %}
    <div class="input-group discount-box">
        <div>
            <button class="btn btn-outline-black ml-2 .no-box-shadow" type="submit">Apply</button>
        </div>
        {{ discount_form|crispy  }}
    </div>
</form>
{% endif %}
<p class="cart-title"><strong>Grand Total: €{{ grand_total|floatformat:2 }}</strong></p>
{% if free_delivery_delta > 0 %}
    <p class="mb-1 text-danger">
        You could get free delivery by spending just <strong>€{{ free_delivery_delta }}</strong> more!
    </p>
{% endif %}