<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-md-none">
            <a class="font-weight-bold nav-link text-black mr-5" href="{% url 'home' %}" id="home-link">
                Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 sub-heading-font" href="{% url 'products' %}" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0 base-text-font" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item">By Category</a>
                <a href="{% url 'products' %}?category=sale" class="dropdown-item">Sale</a>
                <a href="{% url 'products' %}" class="dropdown-item ">All Products</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 sub-heading-font" href="#" id="illustrations-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Illustrations
            </a>
            <div class="dropdown-menu border-0 base-text-font" aria-labelledby="games-link">
                <a href="{% url 'products' %}?category=full_body" class="dropdown-item">Full Body</a>
                <a href="{% url 'products' %}?category=half_body" class="dropdown-item">Half Body</a>
                <a href="{% url 'products' %}?category=items" class="dropdown-item">Items</a>
                <a href="{% url 'products' %}?category=full_body,half_body,items" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 sub-heading-font" href="#" id="dices-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dices
            </a>
            <div class="dropdown-menu border-0 base-text-font" aria-labelledby="consoles-link">
                <a href="{% url 'products' %}?category=dices" class="dropdown-item">Sets</a>
                <a href="{% url 'products' %}?category=special_dices" class="dropdown-item">Special Dices</a>
                <a href="{% url 'products' %}?category=dices,special_dices" class="dropdown-item">View All</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link text-black mr-5 sub-heading-font" href="#" id="books-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Books
            </a>
            <div class="dropdown-menu border-0 base-text-font" aria-labelledby="consoles-link">
                <a href="{% url 'products' %}?category=adventure_books" class="dropdown-item">Adventure Books</a>
                <a href="{% url 'products' %}?category=hefestus_books" class="dropdown-item">Hefestus's Books</a>
                <a href="{% url 'products' %}?category=adventure_books,hefestus_books" class="dropdown-item">View All</a>
            </div>
        </li>
    </ul>
</div>