{% extends "base.html" %}
{% load static %}

{% block extra_title %}| Policies{% endblock %}

{% block extra_meta %}
<meta name="keywords" content="store policy, return policy, exchange policy, terms and conditions, shipping policy, refund policy">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="p-3 p-sm-4 p-lg-5">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-md-7 col-lg-6 col-xl-5">
                <div>
                    <h1 class="font-weight-bold text-center mb-3 text-uppercase logo-font">Returns and Exchanges</h1>
                    <hr>
                    <p>We want you to be completely satisfied with your purchase. If for any reason you are not satisfied, we offer returns and exchanges within 30 days of purchase.</p>
                    <h2>Returns:</h2>
                    <ul>
                        <li>Items must be unused and in the same condition as received.</li>
                        <li>Original packaging and tags must be intact.</li>
                        <li>Returns must be accompanied by a receipt or proof of purchase.</li>
                        <li>Return shipping fees are the responsibility of the customer, unless the return is due to an error on our part.</li>
                    </ul>
                    <h2>Exchanges:</h2>
                    <ul>
                        <li>We accept exchanges for items of equal or lesser value within 30 days of purchase.</li>
                        <li>Items for exchange must be unused and in the same condition as received.</li>
                        <li>Original packaging and tags must be intact.</li>
                        <li>Exchanges must be accompanied by a receipt or proof of purchase.</li>
                    </ul>
                    <p>If you have any questions or concerns regarding returns or exchanges, please contact our customer service team through the <a href="{% url 'contact' %}">Contact</a> form.</p>
                </div>
            </div>
        </div>
    </div>    
</div>
{% endblock %}